# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode

# Visual studio
*.ipch
*.suo
*.VC.*
*.tlog
*.user
*.pdb
*.log
*.idb
*.recipe
*.exp
*.ilk
*.sln
*.vcxproj
*.vcxproj.*
*.iobj
*.ipdb

# Cmake
Makefile
CMakeFiles
CMakeCache.txt
*.cmake
compile_commands.json
build/*
